// For naming colors variables, we recommend use http://chir.ag/projects/name-that-color/

//module MAIN COLOR PALETTE
$black: #1e1e1e;
$white: #fff;
$color-gray: #333;
$color-text: #000;
$color-orange: #fbb03b;
$color-body: #efeeea;

//module COMMON COLORS

//module LINK COLORS

//module SELECTION COLORS
