
// Neat settings
$disable-warnings: true;
$border-box-sizing: false !default;

// fonts
$font-primary: 'Avenir Next W01', sans-serif; // 400, 500, 600, 700, 800

// button settings
$border-radius: 6px;
$button-default-color-hover: #febd57;

// Neat Grid Settings
//$column: 80px;
//$gutter: 20px;
//$grid-columns: 12;
//$max-width: 1180px;
//$visual-grid: true;

//@import "neat-helpers";

//$tablet: new-breakpoint(max-width 1024px 12);
