$icons: (
	sprite: (
		width: 32px,
		height: 28px,
		pngPath: 'images/sprite.png',
		svgPath: 'images/sprite.svg'
	),
	db-logo: (
		width: 32px,
		height: 27.7px,
		backgroundX: 0px,
		backgroundY: 0px
	)
);
