.text-center {
	text-align: center;
}

.one-line {
	@include ellipsis;
}

.status-positive {
	color: $color-green;
	font-weight: 600;
}

.status-negative {
	color: $color-red;
	font-weight: 600;
}

.status-old {
	color: $color-old;
	font-weight: 700;
	font-size: 16px;
}

.status-new {
	color: $color-black;
	font-weight: 700;
	font-size: 16px;
}