$font-primary: Lato, Helvetica, Arial, sans-serif;

$color-white: #fff;
$color-black: #000;

$color-gray: #2c2c2e;
$color-gray-dark: #1d1d1f;
$color-gray-light: #7e7e82;

$color-lightgray: #ededf0;

$color-blue: #009fe8;
$color-blue-light: #7fcef3;
$color-blue-washed: #d3e4f0;

$color-green: #5fc187;
$color-red: #db5880;
$color-neutral: #e6e6e6;
$color-old: #b3b3b3;
