body {
	box-sizing: border-box;
	color: $color-gray-dark;
	font: normal normal normal 14px/1.5 $font-primary;
	margin: 0;
	min-width: 1024px;
	padding: 125px 0 0; //header height
	position: relative;
	
	//To prevent the iPhone and iPad from inflating fonts
	@include respond-to(1024, max) {
		-webkit-text-size-adjust: 100%;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

a {
	color: $color-blue;
	text-decoration: none;

	&:focus,
	&:hover {
		color: darken($color-blue, 6);
	}
}

h2 {
	font-size: 1.75em;
}

.header-with-explanation {
	margin: 0 -30px;
	position: relative;
	padding: 0 30px;

	h2 {
		display: inline-block;
	}

	.explanation {
		left: 100%;
		line-height: 30px;
		margin: 0 0 0 -102px;
		position: absolute;
		top: 40px;
		white-space: nowrap;
	}
}