.tool-name {
    @include vertical-align();
    font-size: inherit;
    letter-spacing: 2px;
    position: relative;
    padding-left: 94px;

    &:before {
        @include position(absolute, 50% null null 0);
        @include transform(translateY(-50%));
        @include size(82px);
        background: {
            image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MiA4MiIgd2lkdGg9IjgyIiBoZWlnaHQ9IjgyIj48cmVjdCB4PSIxIiB5PSIxIiB3aWR0aD0iODAiIGhlaWdodD0iODAiIHJ4PSI5LjIzIiBmaWxsPSJub25lIiBzdHJva2U9IiNmYmIwM2IiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIi8+PHBhdGggZmlsbD0iI2ZiYjAzYiIgZD0ibTY3LjEgNDUuODl2LTEwaC0yNXYtNmgxMHYtMTBoLTEwdi04aC0ydjhoLTI2djEwaDI2djZoLTI2djEwaDI2djZoLTI2djEwaDI2djEwaDJ2LTEwaDE3di0xMGgtMTd2LTZoMjUiLz48L3N2Zz4=);
            repeat: no-repeat;
            size: 100%;
            position: center;
        }
        content: '';
        display: block;
        margin-right: 14px;
    }
}

.tool-text {
    display: block;
    font-size: 18px;
    letter-spacing: 0;
}

.big-text {
    font-size: 30px;
    text-transform: uppercase;

    &:before {
        border-top: 2px solid $white;
        content: '';
        display: block;
        margin-bottom: 1.2em;
        width: 60px;
    }

    span {
        color: $color-orange;
    }

    .text-light & {
        color: $white;
    }
}
