article,
aside,
figcaption,
figure,
footer,
main,
menu {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

 {
  border: 0;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.noscript-message {
  background-color: #fff1bb;
  font-size: 16px;
  padding: 3px;
  text-align: center;
  z-index: 2147483647;
}

.promo-banner--intro .icon-github:after,
.promo-banner--visual .icon-flame:after {
  background-image: url("images/sprite.svg");
  background-repeat: no-repeat;
  background-size: 164px 110px;
  display: inline-block;
}

.ie8 .promo-banner--intro .icon-github:after,
.ie8 .promo-banner--visual .icon-flame:after {
  background-image: url("images/sprite.png");
}

[disabled] {
  cursor: not-allowed;
}

h1,
.heading1 {
  font-size: 72px;
  margin: 0;
  font-family: "Avenir Next W01", sans-serif;
  font-weight: 600;
}

h2,
.heading2 {
  font-size: 40px;
  margin: 0 0 8px 0;
  font-family: "Avenir Next W01", sans-serif;
  font-weight: 600;
}

h3,
.heading3 {
  font-size: 24px;
  margin: 0 0 8px 0;
  font-family: "Avenir Next W01", sans-serif;
  font-weight: 600;
}

img {
  max-width: 100%;
}

.text-light {
  color: #fbb03b;
}

.command-line {
  background-color: #333;
  color: #fff;
  padding: 2px 14px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.8;
}

.btn-primary {
  -webkit-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  -webkit-appearance: none;
  background: #fbb03b;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Avenir Next W01", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
}

.btn-primary:hover {
  background: #febd57;
}

.btn-secondary {
  -webkit-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  background: #fff;
  border: 0;
  border-radius: 6px;
  color: #fbb03b;
  cursor: pointer;
  display: inline-block;
  font-family: "Avenir Next W01", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
}

.btn-secondary:hover {
  background-color: #fefbf8;
}

.btn-tertiary {
  -webkit-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  background: #333;
  border: 0;
  border-radius: 6px;
  color: #fbb03b;
  cursor: pointer;
  display: inline-block;
  font-family: "Avenir Next W01", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
}

.btn-tertiary:hover {
  background-color: #1e1e1e;
}

.btn--github {
  position: relative;
}

.btn--github:before {
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  content: '';
  display: block;
  margin-right: 7px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMS42MSAyMS4wOCIgd2lkdGg9IjIyIiBoZWlnaHQ9IjIyIj48cGF0aCBkPSJNMTYyIDM1MC41N2ExMC44MSAxMC44MSAwIDAgMCAtMy40MiAyMS4wNiAuNTQgLjU0IDAgMCAwIC43NCAtLjUyYzAtLjI2IDAtLjk0IDAtMS44NC0zIC42NS0zLjY0LTEuNDUtMy42NC0xLjQ1YTIuODYgMi44NiAwIDAgMCAtMS4yIC0xLjU4Yy0xLS42Ny4wNy0uNjYuMDctLjY2YTIuMjcgMi4yNyAwIDAgMSAxLjY2IDEuMTEgMi4zIDIuMyAwIDAgMCAzLjE0IC45IDIuMzEgMi4zMSAwIDAgMSAuNjkgLTEuNDRjLTIuNC0uMjctNC45Mi0xLjItNC45Mi01LjM0YTQuMTggNC4xOCAwIDAgMSAxLjExIC0yLjkgMy44OSAzLjg5IDAgMCAxIC4xMSAtMi44NnMuOTEtLjI5IDMgMS4xMWExMC4yNCAxMC4yNCAwIDAgMSA1LjQxIDBjMi4wNi0xLjQgMy0xLjExIDMtMS4xMWEzLjg4IDMuODggMCAwIDEgLjExIDIuODYgNC4xNyA0LjE3IDAgMCAxIDEuMTEgMi45YzAgNC4xNS0yLjUzIDUuMDYtNC45MyA1LjMzYTIuNTggMi41OCAwIDAgMSAuNzMgMmMwIDEuNDQgMCAyLjYxIDAgM2EuNTQgLjU0IDAgMCAwIC43NCAuNTJBMTAuODEgMTAuODEgMCAwIDAgMTYyIDM1MC41NyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE1MS4xOS0zNTAuNTcpIiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.btn {
  -webkit-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  -webkit-appearance: none;
  background: #fbb03b;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Avenir Next W01", sans-serif;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
}

.btn:hover {
  background: #fff;
  color: #1e1e1e;
}

.btn.btn__small {
  background: #1e1e1e;
  color: #fbb03b;
  height: 32px;
  letter-spacing: 2px;
  line-height: 32px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.btn.btn__small:hover {
  background: #fff;
  color: #fbb03b;
}

.btn.btn__inverse {
  background: #fff;
  color: #fbb03b;
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  line-height: 40px;
}

.btn.btn__inverse:hover {
  background: #1e1e1e;
  color: #fbb03b;
}

.promo-banner--visual {
  position: absolute;
  right: 20px;
  bottom: 0;
  background: url("images/graph.svg") 0 100% no-repeat;
  height: 385px;
  width: 430px;
}

.promo-banner--visual a + a {
  margin-left: 20px;
}

.promo-banner--title {
  font-family: "Avenir Next W01", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fbb03b;
  line-height: 1.4;
  margin-right: 15%;
  margin-bottom: 27px;
}

.page-section--desc a {
  color: #EF7100;
}

.page-section--desc a:hover {
  color: #c86400;
  border-bottom: #c86400 solid 1px;
}

.section-single__white-yellow {
  background-image: linear-gradient(to right, #fff 50%, #fbb03b 50%);
}

.section-single__white-black {
  background-image: linear-gradient(to right, #fff 50%, #333 50%);
}

.section-single--image {
  box-sizing: border-box;
  padding-right: 115px;
  width: 50%;
}

.section-single--image__offside {
  padding-right: 0;
}

.section-single--content {
  box-sizing: border-box;
  padding-left: 115px;
  width: 50%;
}

.section-single--title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
  color: #1e1e1e;
  margin: 0 0 1em;
}

.section-single__white-black .section-single--title {
  color: #fbb03b;
}

.section-single--desc {
  color: #1e1e1e;
  line-height: 1.7;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 2.5em;
}

.section-single__white-black .section-single--desc {
  color: #fbb03b;
}

.section-single .text-big {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  position: relative;
  padding-top: 40px;
  line-height: 1;
}

.section-single .text-big:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 5px;
  background: #fff;
}

.section-single .text-big span {
  color: #fbb03b;
}

.section-installation {
  background: #fbb03b;
}

.section-installation .page-frame {
  min-height: 430px;
}

.section-installation--code {
  width: 60%;
}

.section-installation--desc {
  color: #fff;
  text-align: center;
  width: 40%;
}

.section-installation--desc img {
  margin: 0 auto;
}

.section-installation--desc p {
  margin: 20px auto 15px;
  width: 75%;
}

.banner-styleguide {
  background: #fff;
  margin-top: -10px;
}

.banner-styleguide .page-frame {
  background: url("images/styleguide-bg.svg") 100% 100% no-repeat;
  position: relative;
  padding-top: 122px;
  padding-bottom: 122px;
}

.banner-styleguide img {
  position: absolute;
  left: 20px;
}

.banner-styleguide--promo {
  margin: 0 490px 0 115px;
}

.banner-styleguide--title {
  margin: 0;
  font-size: 22px;
  font-weight: 800;
}

.banner-styleguide--desc {
  margin: 0;
}

.banner-styleguide a {
  border-bottom: #fbb03b solid 1px;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' (" attr(href) ")';
  }

  abbr[title]:after {
    content: ' (" attr(title) ")';
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: '';
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

@page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.tool-name {
  display: inline-block;
  vertical-align: middle;
  font-size: inherit;
  letter-spacing: 2px;
  position: relative;
  padding-left: 94px;
}

.tool-name:before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 82px;
  width: 82px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MiA4MiIgd2lkdGg9IjgyIiBoZWlnaHQ9IjgyIj48cmVjdCB4PSIxIiB5PSIxIiB3aWR0aD0iODAiIGhlaWdodD0iODAiIHJ4PSI5LjIzIiBmaWxsPSJub25lIiBzdHJva2U9IiNmYmIwM2IiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIi8+PHBhdGggZmlsbD0iI2ZiYjAzYiIgZD0ibTY3LjEgNDUuODl2LTEwaC0yNXYtNmgxMHYtMTBoLTEwdi04aC0ydjhoLTI2djEwaDI2djZoLTI2djEwaDI2djZoLTI2djEwaDI2djEwaDJ2LTEwaDE3di0xMGgtMTd2LTZoMjUiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  content: '';
  display: block;
  margin-right: 14px;
}

.tool-text {
  display: block;
  font-size: 18px;
  letter-spacing: 0;
}

.big-text {
  font-size: 30px;
  text-transform: uppercase;
}

.big-text:before {
  border-top: 2px solid #fff;
  content: '';
  display: block;
  margin-bottom: 1.2em;
  width: 60px;
}

.big-text span {
  color: #fbb03b;
}

.text-light .big-text {
  color: #fff;
}

 {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Avenir Next W01", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
  background: #efeeea;
}

@media screen and (max-width: 1024px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

a {
  color: #fbb03b;
  text-decoration: none;
}

a:hover {
  color: #e59b27;
}

code {
  display: block;
  white-space: pre;
}

.page-section__content,
.page-section__image {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
}

.page-section__content:last-child,
.page-section__image:last-child {
  margin-right: 0;
}

.page-section__content-single {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  font-size: 18px;
}

.page-section__content-single:last-child {
  margin-right: 0;
}

.page-section--center {
  text-align: center;
}

.page-section--features .page-frame {
  display: flex;
  align-items: center;
}

.page-section--features + .page-section--features {
  border-top: 5px solid #efeeea;
}

.page-section--features .page-section__content {
  box-sizing: border-box;
  padding-left: 50px;
}

.page-section--features .btn-tertiary {
  margin-top: 2em;
}

.page-section--installation {
  background-color: #fbb03b;
}

.page-section--installation .page-frame {
  display: flex;
  align-items: center;
}

.page-section--installation .page-section__code {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
}

.page-section--installation .page-section__code:last-child {
  margin-right: 0;
}

.page-section--installation .page-section__code code {
  white-space: pre;
}

.page-section--installation .page-section__content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  text-align: center;
}

.page-section--installation .page-section__content:last-child {
  margin-right: 0;
}

.page-section--installation p {
  color: #fff;
  margin: 2em auto;
  max-width: 320px;
}

.page-section--installation img {
  margin: 0 auto;
  max-width: 56px;
}

.page--nav a {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  margin-right: 30px;
}

.link-github img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  max-width: 22px;
}

.hero-image {
  bottom: 0;
  position: absolute;
  right: 0;
}

.hero-image img {
  max-width: 436px;
  width: auto;
}

.page-footer .page-frame {
  position: relative;
}

.page-footer__description {
  box-sizing: border-box;
  position: relative;
  padding: 40px 43% 40px 115px;
}

.page-footer__description img {
  left: 0;
  width: 82px;
  position: absolute;
  top: 40px;
}

.page-footer__description h2 {
  margin-bottom: 8px;
}

.page-footer__description p {
  color: #666;
  margin: 0;
}

.page-footer__credit-wrapper {
  background-color: #1e1e1e;
}

.page-footer__credit-wrapper .page-frame {
  min-height: 42px;
  display: flex;
  align-items: center;
}

.page-footer__credit-wrapper a {
  color: #fff;
}

.page-footer__credit-wrapper a:hover {
  color: #efeeea;
}

.page-footer__decoration {
  bottom: 0;
  max-width: 40%;
  position: absolute;
  right: 0;
}

.page-footer__decoration table {
  color: #fff;
  height: 135px;
  max-width: 437px;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.page-footer__decoration td {
  border-right: 15px solid #fff;
  font-size: 12px;
  vertical-align: top;
  padding-top: 8px;
}

.page-footer__credits-menu {
  font-size: 0;
  margin-left: auto;
}

.page-footer__credits-menu a {
  font-size: 14px;
}

.page-footer__credits-menu a + a {
  margin-left: 17px;
}

.page-footer__credits {
  color: #fff;
  font-size: 0;
}

.page-footer__credits img {
  max-width: 42px;
}

.page-footer__credits small,
.page-footer__credits a {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.page-footer__credits a {
  margin-right: 14px;
}

/*# sourceMappingURL=site-styles.css.map */
