article,
aside,
figcaption,
figure,
footer,
main,
menu {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.noscript-message {
  background-color: #fff1bb;
  font-size: 16px;
  padding: 3px;
  text-align: center;
  z-index: 2147483647;
}

[disabled] {
  cursor: not-allowed;
}

h1,
.heading1 {
  font-size: 72px;
  margin: 0;
  font-family: "Avenir Next W01", sans-serif;
  font-weight: 600;
}

h2,
.heading2 {
  font-size: 40px;
  margin: 0 0 8px 0;
  font-family: "Avenir Next W01", sans-serif;
  font-weight: 600;
}

h3,
.heading3 {
  font-size: 24px;
  margin: 0 0 8px 0;
  font-family: "Avenir Next W01", sans-serif;
  font-weight: 600;
}

img {
  max-width: 100%;
}

.text-light {
  color: #fbb03b;
}

.command-line {
  padding: 2px 14px;
  background-color: #333;
  color: #fbb03b;
}

.btn-primary {
  -webkit-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  background: #fbb03b;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Avenir Next W01", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
}

.btn-primary:hover {
  background: #febd57;
}

.btn-secondary {
  -webkit-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  background: #fff;
  border: 0;
  border-radius: 6px;
  color: #fbb03b;
  cursor: pointer;
  display: inline-block;
  font-family: "Avenir Next W01", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
}

.btn-secondary:hover {
  background-color: #fefbf8;
}

.btn-tertiary {
  -webkit-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  background: #333;
  border: 0;
  border-radius: 6px;
  color: #fbb03b;
  cursor: pointer;
  display: inline-block;
  font-family: "Avenir Next W01", sans-serif;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding: 0 30px;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
}

.btn-tertiary:hover {
  background-color: #1e1e1e;
}

.btn--github:before {
  position: absolute;
  top: 50%;
  left: 25px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 24px;
  width: 24px;
  content: '';
  display: block;
  margin-right: 7px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMS42MSAyMS4wOCIgd2lkdGg9IjIyIiBoZWlnaHQ9IjIyIj48cGF0aCBkPSJNMTYyIDM1MC41N2ExMC44MSAxMC44MSAwIDAgMCAtMy40MiAyMS4wNiAuNTQgLjU0IDAgMCAwIC43NCAtLjUyYzAtLjI2IDAtLjk0IDAtMS44NC0zIC42NS0zLjY0LTEuNDUtMy42NC0xLjQ1YTIuODYgMi44NiAwIDAgMCAtMS4yIC0xLjU4Yy0xLS42Ny4wNy0uNjYuMDctLjY2YTIuMjcgMi4yNyAwIDAgMSAxLjY2IDEuMTEgMi4zIDIuMyAwIDAgMCAzLjE0IC45IDIuMzEgMi4zMSAwIDAgMSAuNjkgLTEuNDRjLTIuNC0uMjctNC45Mi0xLjItNC45Mi01LjM0YTQuMTggNC4xOCAwIDAgMSAxLjExIC0yLjkgMy44OSAzLjg5IDAgMCAxIC4xMSAtMi44NnMuOTEtLjI5IDMgMS4xMWExMC4yNCAxMC4yNCAwIDAgMSA1LjQxIDBjMi4wNi0xLjQgMy0xLjExIDMtMS4xMWEzLjg4IDMuODggMCAwIDEgLjExIDIuODYgNC4xNyA0LjE3IDAgMCAxIDEuMTEgMi45YzAgNC4xNS0yLjUzIDUuMDYtNC45MyA1LjMzYTIuNTggMi41OCAwIDAgMSAuNzMgMmMwIDEuNDQgMCAyLjYxIDAgM2EuNTQgLjU0IDAgMCAwIC43NCAuNTJBMTAuODEgMTAuODEgMCAwIDAgMTYyIDM1MC41NyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE1MS4xOS0zNTAuNTcpIiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' (" attr(href) ")';
  }

  abbr[title]:after {
    content: ' (" attr(title) ")';
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: '';
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

@page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.tool-name {
  display: inline-block;
  vertical-align: middle;
  font-size: inherit;
  letter-spacing: 2px;
  position: relative;
  padding-left: 94px;
}

.tool-name:before {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 82px;
  width: 82px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4MiA4MiIgd2lkdGg9IjgyIiBoZWlnaHQ9IjgyIj48cmVjdCB4PSIxIiB5PSIxIiB3aWR0aD0iODAiIGhlaWdodD0iODAiIHJ4PSI5LjIzIiBmaWxsPSJub25lIiBzdHJva2U9IiNmYmIwM2IiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIi8+PHBhdGggZmlsbD0iI2ZiYjAzYiIgZD0ibTY3LjEgNDUuODl2LTEwaC0yNXYtNmgxMHYtMTBoLTEwdi04aC0ydjhoLTI2djEwaDI2djZoLTI2djEwaDI2djZoLTI2djEwaDI2djEwaDJ2LTEwaDE3di0xMGgtMTd2LTZoMjUiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  content: '';
  display: block;
  margin-right: 14px;
}

.big-text {
  font-size: 30px;
  text-transform: uppercase;
}

.big-text:before {
  border-top: 2px solid #fff;
  content: '';
  display: block;
  margin-bottom: 1.2em;
  width: 60px;
}

.big-text span {
  color: #fbb03b;
}

.text-light .big-text {
  color: #fff;
}

.promo-banner {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADEAAAAcCAMAAAD/cKfGAAAAJ1BMVEUiIiIjIyMkJCQlJSQlJSUmJiUmJiYnJyYnJycoKCcoKCgpKSgpKSleMmokAAACNklEQVQ4yz2TQbbtKAwD7foVApH3v94ecF/PEg5GQiUqmZnMTDKZTDLJ7/uuzmSSzO+3MrNVqqluTlS7oQFhj1C0IutkajLZUi20a2wEKVGq+wRA2uebnVS+8WSJolmU1d2/CZEoCidb56s82TzJQ+E7dv00ugu6YOUf7ZoIZ3eFb1rOxGbWnwORKoF2TnvySj+haugsG/d837VstVVqV9P4JNe2WVqhnHtW5lOs+v8SUK07Y4ucka403JX+vuSBFm3tqgKcb80GWGM3NYLzYDtwZryCSNuuZDfnaJPTUjUAe9C8gpkj0i3iyYaWWd0GoCoCZnOiBT5nHm1K3zlXiTV2bpA1NtbKygONNM9E5MmsaxGZd48tWLklmgSq6G6ak29N3l9eNOXEBuzKPXiPqNhSYOZbtBZ2A85YoNY0ZTPfR+utkDt5v/xJKDi3D9U1aPGO+esrOyPVO1kWUA3z7VwTNZSSzU4XyJMcscE381w4Z3BONVSNDSfivAV+s7UBoN3zWYWzdOX25jJfdO/RL599EdzUTF57h4LZUJf52VJNvkTBEtFGZWXeeRr7yY+HT1R5Zj5/j4P+gWhwzQ/l+e4E85Z45uwBkUaKAmxlTWYrkq019UbZc942+74ou6X1aszplTzAm39d2Xl07t5nvKDRsrApT2x45tswuypn1peNaJmb+c22bsh5G8A3n8+8lWSO/UPgLG59+o/K+Sikiic5M5XJsRu76fbEO9oF2qzxdysav8x/fFAZnqqYkQ8AAAAASUVORK5CYII=);
  background-attachment: fixed;
  background-color: #1e1e1e;
  background-repeat: repeat;
  background-position: center;
}

 {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Avenir Next W01", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
}

@media screen and (max-width: 1024px) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

a:hover {
  color: #e59b27;
}

code {
  display: block;
  white-space: pre;
}

 {
  padding-bottom: 4em;
  padding-top: 4em;
}

.page-section__image:last-child {
  margin-right: 0;
}

 {
  text-align: center;
}

.page-section--features + .page-section--features {
  border-top: 5px solid #efeeea;
}

.page-section--features .btn-tertiary {
  margin-top: 2em;
}

.page-section--installation {
  background-color: #fbb03b;
}

.page-section--installation .page-frame {
  display: flex;
  align-items: center;
}

.page-section--installation .page-section__code {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%;
}

.page-section--installation .page-section__code:last-child {
  margin-right: 0;
}

.page-section--installation .page-section__code code {
  white-space: pre;
}

.page-section--installation .page-section__content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%;
  text-align: center;
}

.page-section--installation .page-section__content:last-child {
  margin-right: 0;
}

.page-section--installation p {
  color: #fff;
  margin: 2em auto;
  max-width: 320px;
}

.page-section--installation img {
  margin: 0 auto;
  max-width: 56px;
}

.bg-white-yellow {
  background-image: linear-gradient(to right, #fff 50%, #fbb03b 50%);
}

.bg-white-black {
  background-image: linear-gradient(to right, #fff 50%, #333 50%);
}

.page-header__content {
  padding-bottom: 4em;
  padding-top: 4em;
  position: relative;
}

.header-navigation a {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  margin-right: 30px;
}

 {
  vertical-align: middle;
}

.page-footer .page-frame {
  position: relative;
}

.page-footer__description {
  box-sizing: border-box;
  position: relative;
  padding: 40px 43% 40px 115px;
}

.page-footer__description img {
  left: 0;
  width: 82px;
  position: absolute;
  top: 40px;
}

.page-footer__description h2 {
  margin-bottom: 8px;
}

.page-footer__description p {
  color: #666;
  margin: 0;
}

.page-footer__credit-wrapper {
  background-color: #1e1e1e;
}

.page-footer__credit-wrapper .page-frame {
  min-height: 42px;
  display: flex;
  align-items: center;
}

.page-footer__credit-wrapper a {
  color: #fff;
}

.page-footer__credit-wrapper a:hover {
  color: #efeeea;
}

.page-footer__decoration {
  bottom: 0;
  max-width: 40%;
  position: absolute;
  right: 0;
}

.page-footer__decoration table {
  color: #fff;
  height: 135px;
  max-width: 437px;
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.page-footer__decoration td {
  border-right: 15px solid #fff;
  font-size: 12px;
  vertical-align: top;
  padding-top: 8px;
}

.page-footer__credits-menu {
  font-size: 0;
  margin-left: auto;
}

.page-footer__credits-menu a {
  font-size: 14px;
}

.page-footer__credits-menu a + a {
  margin-left: 17px;
}

.page-footer__credits {
  color: #fff;
  font-size: 0;
}

.page-footer__credits img {
  max-width: 42px;
}

.page-footer__credits small,
.page-footer__credits a {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.page-footer__credits a {
  margin-right: 14px;
}

/*# sourceMappingURL=site-styles.css.map */
