$color-table-border: #f0f0f2;
$color-table-zebra: #f7f7fa;

.data-table {
	counter-reset: table-row;
	padding: 40px 30px;
	
	table {
		border: 1px solid $color-table-border;
		min-width: 100%;
		text-align: left;
	}
	
	tbody tr {
		counter-increment: table-row;
	}
	
	th,
	td {
		padding: 8px 18px;
	}
	
	th {
		color: $color-gray-light;
		font-size: 13px;
		font-weight: normal;
		
		vertical-align: middle;
	}
	
	td {
		border-top: 1px solid $color-table-border;
		vertical-align: top;
		
		&:first-child {
			min-width: 400px;
			padding-left: 48px;

			&:before {
				color: $color-black;
				content: counter(table-row)'.';
				display: inline-block;
				font-weight: normal;
				text-indent: -28px;
			}
		}
	}
}

.data-table--zebra {
	tr:nth-child(odd) td {
		background: $color-table-zebra;
	}
}

.data-table--chart {
	th,
	td {
		width: 100%;

		&:first-child {
			width: 400px;
		}

		&:last-child {
			width: 100px;
			vertical-align: middle;
		}
	}
}

.data-table-bar {
	font-size: 13px;
	height: 26px;
	line-height: 26px;
	padding: 0 10px;
	position: relative;
	
	button {
		background-color: transparent;
		border: 0;
		margin: 0;
		padding: 0;
		font-size: 18px;
		position: absolute;
		top: 4px;
		right: 10px;
		transition: opacity .3s;
		
		&:hover {
			opacity: .6;
		}
	}
	
	&:first-child {
		background: $color-neutral;
		color: $color-gray;
	}
	
	&:last-child {
		background: $color-red;
		color: $color-white;
		margin-bottom: 1px;
		
		&[style*='width: 8'],
		&[style*='width: 9'],
		&[style*='width: 100%;'] {
			background: $color-green;
		}
		
		&[style*='width: 8%;'],
		&[style*='width: 9%;'] {
			background: $color-red;
		}
	}

	&.mobile {
		&:last-child {
			&[style*='width: 6'],
			&[style*='width: 7'] {
				background: $color-green;
			}

			&[style*='width: 6%;'],
			&[style*='width: 7%;'] {
				background: $color-red;
			}
		}
	}
}
