.page-footer {
    height: 50px;
    position: relative;
}

.devbridge {
    background-image: url(../images/logo-footer.png);
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 20px;
    left: 100%;
    margin: 15px 30px 0 -130px;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    text-indent: -500px;
    width: 97px;
}
