.page-footer {
    .page-frame {
        position: relative;
    }

    &__credit-wrapper {
        background-color: $color-black;

        .page-frame {
            @include display(flex);
            @include align-items(center);
            min-height: 42px;
        }

        a {
            color: $color-white;

            &:hover {
                color: $color-body;
            }
        }
    }

    &__credits-menu {
        font-size: 0;
        margin-left: auto;

        a {
            font-size: 14px;
            margin-right: 17px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__credits {
        color: $color-white;
        font-size: 0;

        img {
            max-width: 42px;
        }

        small,
        a {
            @include vertical-align();
            font-size: 14px;
        }

        a {
            margin-right: 14px;
        }
    }

    @include respond-to(960, max) {
        &__credit-wrapper {
            .page-frame {
                @include flex-direction(column);
            }
        }

        &__credits {
            @include order(2);
            margin: 15px auto;
            width: 430px;
        }

        &__credits-menu {
            @include display(flex);
            margin: 15px auto 0;
        }
    }

    @include respond-to(535, max) {
        &__credits {
            width: auto;

            small {
                width: 70%;
            }
        }
    }

    @include respond-to(480, max) {
        &__credits-menu {
            @include flex-wrap(wrap);
            margin-left: 0;

            a {
                display: inline-block;
                margin-top: 3px;

                &:nth-child(2) {
                    @include order(3);
                }

                &:last-child {
                    margin-right: 17px;
                }
            }
        }

        &__credits {
            margin-left: 0;
        }
    }
}