.page-footer {
    .page-frame {
        position: relative;
    }

    &__description {
        box-sizing: border-box;
        position: relative;
        padding: 40px 43% 40px 115px;

        img {
            left: 0;
            width: 82px;
            position: absolute;
            top: 40px;
        }

        h2 {
            margin-bottom: 8px;
        }

        p {
            color: #666;
            margin: 0;
        }
    }
    &__credit-wrapper {
        background-color: $black;

        .page-frame {
            min-height: 42px;
            display: flex;
            align-items: center;
        }

        a {
            color: $white;

            &:hover {
                color: $color-body;
            }
        }
    }

    &__decoration {
        bottom: 0;
        max-width: 40%;
        position: absolute;
        right: 0;

        table {
            color: #fff;
            height: 135px;
            max-width: 437px;
            table-layout: fixed;
            text-align: center;
            width: 100%;
        }

        td {
            border-right: 15px solid $white;
            font-size: 12px;
            vertical-align: top;
            padding-top: 8px;
        }
    }

    &__credits-menu {
        font-size: 0;
        margin-left: auto;

        a {
            font-size: 14px;

            + a {
                margin-left: 17px;
            }
        }
    }

    &__credits {
        color: $white;
        font-size: 0;

        img {
            max-width: 42px;
        }

        small,
        a {
            @include vertical-align();
            font-size: 14px;
        }

        a {
            margin-right: 14px;
        }
    }
}