.page {
    &--header {
        @include position(fixed, 0 0 null);
        background-color: $black;
        z-index: 10;

        .page-frame {
            align-items: center;
            display: flex;
            height: $header-height;
        }
    }

    &--nav {

        a {
            @include vertical-align();
            color: $white;
            margin-right: 30px;

            &:last-child {
                margin-left: auto;
                margin-right: 0;
            }
        }

        img {
            width: 36px;
        }
        .twitter-share-button {
            vertical-align: middle;
        }
    }
}

.link-github {
    padding-left: 60px;

    img {
        @include vertical-align();
        margin-left: 15px;
        max-width: 22px;
    }
}

.hero-image {
    bottom: 0;
    position: absolute;
    right: 0;

    img {
        max-width: 436px;
        width: auto;
    }
}
