.page-header {
    background-color: $color-gray;
    border-bottom: 5px solid $color-orange;

    img {
        width: 36px;
    }

    &__content {
        padding-bottom: 4em;
        padding-top: 4em;
        position: relative;
    }

    h1 {
        @include span-columns(6);
        color: $color-orange;
    }

    .btn-primary {
        color: $color-gray;
        margin-top: 35px;
        font-size: 18px;
    }

    .btn--github {
        padding-left: 60px;
    }
}

.hero-image {
    bottom: 0;
    position: absolute;
    right: 0;

    img {
        max-width: 436px;
        width: auto;
    }
}

.header-navigation {
    background-color: $black;

    a {
        @include vertical-align();
        color: $white;
        margin-right: 30px;

        &:last-child {
            margin-left: auto;
            margin-right: 0;
        }
    }

    .page-frame {
        display: flex;
        min-height: 60px;
        align-items: center;
    }

    .twitter-share-button {
        vertical-align: middle;
    }

    &__github {
        img {
            @include vertical-align();
            margin-left: 15px;
            max-width: 22px;
        }
    }
}
