//
// Layout Rules
//
// Layout styles can also be divided into major and minor styles based on
// reuse. Fox example, major layout styles can be dedicated for header and/or footer.

html {
    height: 100%;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    @include display(flex);
    @include flex-direction(column);
    background: {
        image: url($icon-promo-bg);
        attachment: fixed;
        color: $color-black;
        repeat: repeat;
        position: center;
    }
    font: {
        family: $font-primary;
        size: $base-font-size;
    }
    line-height: $base-line-height;
    min-height: 100%;

    // To prevent the iPhone and iPad from inflating fonts
    @include respond-to(1024, max) {
        -webkit-text-size-adjust: 100%;
    }
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: $color-orange;
    text-decoration: none;

    &:hover {
        color: darken($color-orange, 10%);
    }
}

code {
    display: block;
    white-space: pre;
}

.clearfix {
    @include clearfix($extend: true)
}

.page {
    @include flex(1);
}

.page-frame {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0 20px;
}

.page-section {

    &__content, &__image {
        @include span-columns(6);
    }

    &__content-single {
        @include span-columns(8);
        @include shift(2);
        font-size: 18px;
    }

    &--center {
        text-align: center;
    }

    &--features {
        .page-frame {
            @include display(flex);
            @include align-items(center);
        }

        + .page-section--features {
            border-top: 5px solid $color-body;
        }

        .page-section__content {
            box-sizing: border-box;
            padding-left: 50px;
        }

        .btn-tertiary {
            margin-top: 2em;
        }
    }

    &--installation {
        background-color: $color-orange;

        .page-frame {
            @include display(flex);
            @include align-items(center);
        }

        .page-section__code {
            @include span-columns(7);
        }

        .page-section__content {
            @include span-columns(5);
            text-align: center;
        }

        p {
            color: $color-white;
            margin: 2em auto;
            max-width: 320px;
        }

        img {
            margin: 0 auto;
            max-width: 56px;
        }
    }
}

@media print {
    .page--header {
        position: relative !important;
    }
}