.banner-styleguide {
    background: $color-white;
    margin-top: -10px;

    .page-frame {
        position: relative;
        padding: {
            top: 122px;
            bottom: 122px;
        };

        &:before {
            @include position(absolute, null 0 0 null);
            @include size(440px 203px);
            content: '';
            background: {
                image: url($icon-styleguide-bg);
                size: 100%;
            };
            display: block;
        }
    }

    img {
        @include position(absolute, null null null 20px);
    }

    &--promo {
        margin-left: 115px;
        margin-right: 48%;
        max-width: 560px;
    }

    &--title {
        margin: 0;
        font: {
            size: 22px;
            weight: 800;
        };
    }

    &--desc {
        margin: 0;
    }

    a {
        border-bottom: $color-orange solid 1px;
        white-space: nowrap;
    }

    @include respond-to(960, max) {
        overflow: hidden;

        .page-frame {
            max-width: 475px;

            &:before {
                right: 20px;
                left: 20px;
                bottom: -140px;
            }
        }

        img {
            top: 50%;
            margin-top: -41px;
        }

        &--promo {
            margin-right: 0;
        }
    }

    @include respond-to(768, max) {
        overflow: hidden;
        text-align: center;

        .page-frame {
            background: none;
            position: relative;
            padding-bottom: 160px;
            padding-top: 60px;

            &:before {
                width: auto;
                bottom: -100px;
            }
        }

        img {
            margin: 0 auto 15px;
            position: relative;
            left: auto;
        }

        &--title {
            margin-top: 25px;
            margin-bottom: 15px;
        }

        &--promo {
            margin: auto;
        }

        &--desc {
            clear: both;

            br {
                display: none;
            }
        }
    }

    @include respond-to(535, max) {
        &--desc {
            a {
                display: inline-block;
            }
        }
    }

    @include respond-to(400, max) {
        &--title {
            margin-top: 7px;
        }
    }
}