.btn--github {
    position: relative;

    &:before {
        @include position(absolute, 50% null null 25px);
        @include transform(translateY(-50%));
        @include size(24px);
        content: '';
        display: block;
        margin-right: 7px;
        background: {
            image: url($icon-git-dark);
            repeat: no-repeat;
            size: 100%;
            position: center;
        }
    }
}

.btn {
    @include transition(background .3s, color .3s);
    background: $color-orange;
    border: 0;
    border-radius: $border-radius;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font: {
        family: $font-primary;
        size: 14px;
        weight: 700;
    }
    outline: none;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    -webkit-appearance: none;

    &:hover {
        background: $color-white;
        color: $color-black;
    }

    &.btn__cta {
        color: $color-black;
        font: {
            size: 18px;
            weight: 600;
        }
        height: 40px;
        letter-spacing: .5px;
        line-height: 40px;
    }

    &.btn__small {
        background: $color-black;
        color: $color-orange;
        height: 32px;
        letter-spacing: 1.5px;
        line-height: 32px;
        font: {
            size: 12px;
            weight: 800;
        };
        text-transform: uppercase;

        &:hover {
            background: $color-white;
            color: $color-orange;
        }
    }

    &.btn__inverse {
        background: $color-white;
        color: $color-orange;
        font: {
            size: 18px;
            weight: 500;
        }
        height: 40px;
        line-height: 40px;

        &:hover {
            background: $color-black;
            color: $color-orange;
        }
    }

    @include respond-to(535, max) {
        &.btn__inverse {
            width: 100%;
            box-sizing: border-box;
        }
    }
}