.promo-banner {
    background: {
            image: url($icon-promo-bg);
            attachment: fixed;
            color: $color-black;
            repeat: repeat;
            position: center;
    }
    border-bottom: $color-orange solid 5px;
    margin-top: $header-height;
    position: relative;

    .page-frame {
        @include display(flex);
        @include align-items(center);
        height: 450px;
        position: relative;
    }

    &--intro {
        margin-right: 480px;

        .icon-github {
            @include vertical-align();
            @include size(22px);
            background-image: url($icon-git-dark);
            font-size: 18px;
            margin-right: 5px;
            margin-top: -3px;
        }
    }

    &--visual {
        @include position(absolute, null 20px 0 null);
        @include size(430px 385px);
        background: url($icon-graph) 0 100% no-repeat;

        p {
            margin-top: 225px;
        }

        strong {
            color: $color-orange;
            display: block;
            font: {
                size: 11px;
                weight: 400;
            };
            margin-bottom: 2px;
            text-transform: uppercase;
        }

        a {
            color: $color-white;
            font-size: 14px;
            margin-right: 20px;
            text-transform: uppercase;

            &:last-child {
                margin-right: 0;
            }
        }

        .icon-flame {
            @include size(13px 17px);
            @include vertical-align();
            margin-right: 5px;
            background: {
                image: url($icon-flame);
                repeat: no-repeat;
            }
        }
    }

    &--title {
        font: {
            family: $font-primary;
            size: 18px;
            weight: 400;
        };
        color: $color-orange;
        line-height: 1.4;
        margin-bottom: 27px;
        //margin-right: 20%;

        img {
            margin-bottom: 20px;
        }
    }

    @include respond-to(1024, max) {
        br {
            display: none;
        }
    }

    @include respond-to(900, max) {
        .page-frame {
            @include flex-direction(column);
            height: auto;
        }

        &--intro {
            margin: auto;
            max-width: 430px;
            padding: 2em 0;
        }

        &--visual {
            @include position(relative, null auto auto null);
            background: {
                size: 100%;
            }
        }

        &--title {
            margin-right: auto;
            margin-top: 4em;

            img {
                width: 85%;
            }
        }
    }

    @include respond-to(535, max) {
        &--intro {
            margin-right: auto;
            padding: 0 0 2em;
        }

        &--visual {
            background: none;
            height: auto;
            max-width: 430px;
            width: 100%;

            p {
                display: none;
            }

            a {
                clear: both;
                float: left;
                margin-top: 7px;
                white-space: nowrap;
                font-size: 18px;
            }

            strong {
                font-size: 14px;
            }

        }
    }


    @media print {

        border: 0;
        margin-top: 0;

        .page-frame {
            display: block;
            height: auto;
            padding: 50px 20px;
        }

        &--intro {
            margin: 0;
        }

        &--title {
            width: auto;
            font-weight: 700;

            img {
                max-width: 20% !important;
            }
        }

        .promo-banner--visual {
            @include position(relative, auto);
            height: auto;
            width: auto;

            p {
                margin: 0;
            }

            a i{
                display: none;
            }
        }

        .btn.btn__cta {
            display: none;
        }

    }
}

