.promo-banner {
    background: {
            image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADEAAAAcCAMAAAD/cKfGAAAAJ1BMVEUiIiIjIyMkJCQlJSQlJSUmJiUmJiYnJyYnJycoKCcoKCgpKSgpKSleMmokAAACNklEQVQ4yz2TQbbtKAwD7foVApH3v94ecF/PEg5GQiUqmZnMTDKZTDLJ7/uuzmSSzO+3MrNVqqluTlS7oQFhj1C0IutkajLZUi20a2wEKVGq+wRA2uebnVS+8WSJolmU1d2/CZEoCidb56s82TzJQ+E7dv00ugu6YOUf7ZoIZ3eFb1rOxGbWnwORKoF2TnvySj+haugsG/d837VstVVqV9P4JNe2WVqhnHtW5lOs+v8SUK07Y4ucka403JX+vuSBFm3tqgKcb80GWGM3NYLzYDtwZryCSNuuZDfnaJPTUjUAe9C8gpkj0i3iyYaWWd0GoCoCZnOiBT5nHm1K3zlXiTV2bpA1NtbKygONNM9E5MmsaxGZd48tWLklmgSq6G6ak29N3l9eNOXEBuzKPXiPqNhSYOZbtBZ2A85YoNY0ZTPfR+utkDt5v/xJKDi3D9U1aPGO+esrOyPVO1kWUA3z7VwTNZSSzU4XyJMcscE381w4Z3BONVSNDSfivAV+s7UBoN3zWYWzdOX25jJfdO/RL599EdzUTF57h4LZUJf52VJNvkTBEtFGZWXeeRr7yY+HT1R5Zj5/j4P+gWhwzQ/l+e4E85Z45uwBkUaKAmxlTWYrkq019UbZc942+74ou6X1aszplTzAm39d2Xl07t5nvKDRsrApT2x45tswuypn1peNaJmb+c22bsh5G8A3n8+8lWSO/UPgLG59+o/K+Sikiic5M5XJsRu76fbEO9oF2qzxdysav8x/fFAZnqqYkQ8AAAAASUVORK5CYII=);
            attachment: fixed;
            color: $black;
            repeat: repeat;
            position: center;
    }
    border-bottom: $color-orange solid 5px;
    margin-top: $header-height;

    .page-frame {
        @include display(flex);
        @include align-items(center);
        height: 450px;
        position: relative;
    }

    &--intro {
        margin-right: 480px;

        .icon-github {
            display: inline-block;
            font-size: 18px;
            height: 22px;
            margin-right: 5px;
            margin-top: -3px;
            vertical-align: middle;
            width: 22px;

            &:after {
                content: '';
                @include svg-sprite('git-dark');
                display: block;

            }
        }
    }

    &--visual {
        @include position(absolute, null 20px 0 null);
        background: url($url-graph-bg) 0 100% no-repeat;
        height: 385px;
        width: 430px;

        p {
            margin-top: 225px;
        }

        strong {
            color: $color-orange;
            display: block;
            font: {
                size: 11px;
                weight: 400;
            };
            text-transform: uppercase;
            margin-bottom: 2px;
        }

        a {
            color: $white;
            text-transform: uppercase;
            font-size: 14px;

             + a {
                 margin-left: 20px;
             }
        }

        .icon-flame {
            margin-right: 5px;

            &:after {
                content: '';
                @include svg-sprite('icon-flame');
            }
        }
    }

    &--title {

        font: {
            family: $font-primary;
            size: 18px;
            weight: 400;
        };
        color: $color-orange;
        line-height: 1.4;
        margin-right: 15%;
        margin-bottom: 27px;

        img {
            margin-bottom: 20px;
        }
    }
}