.page-section {
    background-color: $color-body;
    padding-top: 1px;

    &--title {
        margin: 10% 0 20px;
        text-align: center;
        font: {
            size: 40px;
            weight: 700;
        };
    }

    &--desc {
        margin: 0 auto 50px;
        text-align: center;
        width: 60%;

        a {
            color: $color-orange-dark;

            &:hover {
                border-bottom: darken($color-orange-dark, 10%) solid 1px;
                color: darken($color-orange-dark, 10%);
            }
        }
    }

    @include respond-to(768, max) {
        &--title {
            font-size: 30px;
            margin: 2em auto 20px;
            max-width: 430px;
            text-align: left;
        }

        &--desc {
            max-width: 430px;
            text-align: left;
            width: auto;
        }
    }

    @include respond-to(535, max) {
        &--desc {
            max-width: 430px;
        }
    }
}

.section-single {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    &__white-yellow {
        background-image: linear-gradient(to right, $color-white 50%, $color-orange 50%);
    }

    &__white-black {
        background-image: linear-gradient(to right, $color-white 50%, $color-gray 50%);
    }

    .page-frame {
        @include display(flex);
        @include align-items(center);
        min-height: 475px;
    }

    &--image {
        width: 50%;
    }

    &--content {
        margin-left: auto;
        max-width: 475px;
        padding-left: 80px;
        width: 50%;
    }

    &--title {
        font: {
            size: 24px;
            weight: 700;
        };
        color: $color-black;
        line-height: 1.3;
        margin: 0 0 1em;

        .section-single__white-black & {
            color: $color-orange;
        }
    }

    &--desc {
        color: $color-black;
        line-height: 1.7;
        font: {
            size: 16px;
            weight: 500;
        };
        margin: 0 0 2.5em;

        .section-single__white-black & {
            color: $color-orange;
        }
    }

    .text-big {
        color: $color-white;
        font: {
            size: 30px;
            weight: 700;
        };
        display: block;
        letter-spacing: 1px;
        line-height: 1;
        padding-top: 40px;
        position: relative;
        text-transform: uppercase;

        &:before {
            @include position(absolute, 0 null null 0);
            @include size(60px 3px);
            background: $color-white;
            content: '';
            display: block;
        }

        span {
            color: $color-orange;
        }
    }

    @include respond-to(768, max) {
        .page-frame {
            @include flex-direction(column);
        }

        &--content,
        &--image {
            margin: auto;
            max-width: 430px;
            padding: 3em 0;
            width: auto;
        }

        &__white-yellow,
        &__white-black {
            background: {
                image: none;
                color: $color-white;
            }
            overflow: hidden;
        }

        &__white-black {
            .section-single--title {
                margin-right: 20px;
            }
        }

        &__yellow {
            position: relative;

            &:before {
                @include position(absolute, 0 -100%);
                background-color: $color-orange;
                content: '';
            }

            > * {
                position: relative;
            }
        }

        &__black {
            position: relative;

            &:before {
                @include position(absolute, 0 -100%);
                background-color: $color-black;
                content: '';
            }

            > * {
                position: relative;
            }
        }

        .text-big {
            font-size: 26px;
        }
    }
}

.section-installation {
    background: $color-orange;

    .page-frame {
        min-height: 430px;
    }

    &--code {
        width: 60%;
    }
    &--desc {
        color: $color-white;
        text-align: center;
        width: 40%;

        img {
            margin: 0 auto;
        }

        p {
            margin: 20px auto 15px;
            width: 75%;
        }
    }

    &--code {
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .command-line {
            min-width: 520px;
        }
    }

    @include respond-to(768, max) {

        &--code,
        &--desc {
            max-width: 430px;
            padding: 3em 0;
            width: auto;
        }

        &--code {
            padding-bottom: 0;
            width: 100%;
        }
    }

    @include respond-to(535, max) {

        .page-frame {
            padding: 0;
        }

        &--code {
            width: 100%;
            max-width: 535px;

            > div {
                float: left;
                padding-right: 20px;
                padding-left: 20px;
            }
        }
    }
}