// Typography

h1,
.heading1 {
    font-size: 72px;
    margin: 0;
    font-family: $font-primary;
    font-weight: 600;
}

h2,
.heading2 {
    font-size: 40px;
    margin: 0 0 8px 0;
    font-family: $font-primary;
    font-weight: 600;
}

h3,
.heading3 {
    font-size: 24px;
    margin: 0 0 8px 0;
    font-family: $font-primary;
    font-weight: 600;
}

h4,
.heading4 {

}

ul {

}

ol {

}

figure {

}

strong {

}

em {

}

p {

}

hr {

}

img {
    max-width: 100%;
}

a {

}

.text-light {
    color: $color-orange;
}

.command-line {
    background-color: $color-gray;
    color: $white;
    padding: 2px 14px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 1.8;
}