// Typography

h1,
.heading1 {
    margin: 0;
    font: {
        size: 72px;
        family: $font-primary;
        weight: 600;
    }
}

h2,
.heading2 {
    font: {
        size: 40px;
        family: $font-primary;
        weight: 600;
    }
    margin: 0 0 8px 0;
}

h3,
.heading3 {
    font: {
        size: 24px;
        family: $font-primary;
        weight: 600;
    }
    margin: 0 0 8px 0;
}

h4,
.heading4 {

}

ul {

}

ol {

}

figure {

}

strong {

}

em {

}

p {

}

hr {

}

img {
    max-width: 100%;
}

a {

}

.command-line {
    background-color: $color-gray;
    color: $color-white;
    font-size: 14px;
    line-height: 1.8;
    margin-bottom: 5px;
    padding: 2px 14px;
}